<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RoadWays.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0"/>
  </startup>
  <appSettings>

    <add key="ServerHostName" value="uEtltcf9G1kzBqVoibYyLA==" />
    <add key="ServerServiceName" value="K1n9nW+UseXZTV3w7vObug==" />
    <add key="ServerUserName" value="nmhq0Y0Dg7U=" />
    <add key="ServerPassWord" value="eYgfLJYIS0fr2jd55UhWsQ==" />


    <add key="ServerPath" value="\\192.168.1.112\derpsharing" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="P" value="D"/>
  </appSettings>
  <userSettings>
    <RoadWays.Properties.Settings>
      <setting name="UPLOADED_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="ORIGINAL_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="UPLOAD_BY_USERNAME" serializeAs="String">
        <value>Size</value>
      </setting>
    </RoadWays.Properties.Settings>
  </userSettings>
</configuration>